<!-- wp:snazzyportfolio/header /-->

<!-- wp:snazzyportfolio/develper-intro -->
<!-- wp:snazzyportfolio/developer-headline {"text":"Jackson Mkhabela"} -->
<h1
  class="sp-text-4xl md:sp-text-7xl sp-mb-1 md:sp-mb-3 sp-font-bold sp-text-slate-200"
>
  Jackson Mkhabela
</h1>
<!-- /wp:snazzyportfolio/developer-headline -->

<!-- wp:snazzyportfolio/developer-sub-headline {"text":"Software Engineer \u0026amp; Fullstack Web Developer"} -->
<p class="sp-text-base md:sp-text-xl sp-mb-3 sp-font-medium sp-text-slate-200">
  Software Engineer &amp; Fullstack Web Developer
</p>
<!-- /wp:snazzyportfolio/developer-sub-headline -->

<!-- wp:snazzyportfolio/developer-paragraph {"text":"Hello and welcome! I'm Jackson Mkhabela, a software developer with roots in the vibrant landscapes of South Africa, now enriching the tech scene from beautiful British Columbia, Canada, and beyond. With over 8 years of experience in software development, I've refined my expertise in Python, Django, and recently ventured into Java, Spring, React, and the aesthetics of Tailwind CSS. My journey spans from contributing to groundbreaking projects in biotech to navigating the digital domain, driven by continuous learning and a passion for innovation.\u003cbr\u003e\u003cbr\u003eDive into my portfolio to see how I blend diverse technologies with an artistic touch and engineering precision, creating solutions that are not just effective but elegantly crafted. Welcome to a world where code meets creativity, and every project narrates a story of transformation and growth.","className":"md:sp-max-w-[750px]"} -->
<p
  class="sp-text-sm md:sp-max-w-[800px] sp-mb-6 sp-leading-normal sp-font-bold"
>
  Hello and welcome! I'm Jackson Mkhabela, a software developer with roots in
  the vibrant landscapes of South Africa, now enriching the tech scene from
  beautiful British Columbia, Canada, and beyond. With over 8 years of
  experience in software development, I've refined my expertise in Python,
  Django, and recently ventured into Java, Spring, React, and the aesthetics of
  Tailwind CSS. My journey spans from contributing to groundbreaking projects in
  biotech to navigating the digital domain, driven by continuous learning and a
  passion for innovation.<br /><br />Dive into my portfolio to see how I blend
  diverse technologies with an artistic touch and engineering precision,
  creating solutions that are not just effective but elegantly crafted. Welcome
  to a world where code meets creativity, and every project narrates a story of
  transformation and growth.
</p>
<!-- /wp:snazzyportfolio/developer-paragraph -->
<!-- /wp:snazzyportfolio/develper-intro -->

<!-- wp:snazzyportfolio/projectgrid /-->

<!-- wp:snazzyportfolio/timeline /-->

<!-- wp:snazzyportfolio/contact-form /-->
