<!-- wp:snazzyportfolio/header /-->

<!-- wp:snazzyportfolio/project-layout-main-container {"className":"sp-flex-grow"} -->
<div class="main-content">
  <div class="sub-main-content">
    <!-- wp:snazzyportfolio/project-layout {"className":"sp-gap-6"} -->
    <div class="sp-flex md:sp-flex-row sp-gap-10 sp-flex-col-reverse">
      <!-- wp:snazzyportfolio/project-layout-main-content {"className":"p-4"} -->
      <div class="sp-flex-1 sp-p-4">
        <!-- wp:post-title {"level":1} /-->

        <!-- wp:snazzyportfolio/excerpt {"content":"md:sp-max-w-[600px]"} /-->

        <!-- wp:post-content /-->
      </div>
      <!-- /wp:snazzyportfolio/project-layout-main-content -->

      <!-- wp:snazzyportfolio/project-layout-side-content {"className":"md:sp-min-w-[400px] md:sp-max-w-[500px]"} -->
      <aside
        class="sp-p-2 md:sp-mt-52 md:sp-w-1/4 md:sp-min-w-[300px] md:sp-max-w-[400px]"
      >
        <!-- wp:snazzyportfolio/project-tech-list /-->

        <!-- wp:snazzyportfolio/project-timeline /-->

        <!-- wp:snazzyportfolio/project-post /-->
      </aside>
      <!-- /wp:snazzyportfolio/project-layout-side-content -->
    </div>
    <!-- /wp:snazzyportfolio/project-layout -->
  </div>
</div>
<!-- /wp:snazzyportfolio/project-layout-main-container -->
